@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sora:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212429;
    font-family: 'Sora', sans-serif;
}


/* =================== NAVBAR =================== */
header {
    color: #fff;
    padding: 1.5rem 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 5.33px 50px rgba(0, 0, 0, .5);
}

nav ul{
    display: flex;
    gap: 6.25rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: .3s ease-in-out;
}

nav a:hover {
    color: #00A3FF;
    text-shadow: 0 0 3px #00A3FF;
}

header h3 {
    letter-spacing: 3px;
}

header h3 span{
    color: #00A3FF;
}